#
# /etc/systemd/system/samplicator-snmptrap.service
#

[Unit]
Description="Samplicator SNMP Trap"
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/samplicate -S -c /etc/samplicator/snmptrap.conf -s $SAMP_SNMPTRAP_LISTEN_IP -p $SAMP_SNMPTRAP_LISTEN_PORT -d 0 -f

[Install]
WantedBy=multi-user.target
