#
# /etc/systemd/system/samplicator-telegraf.service
#

[Unit]
Description="Samplicator Telegraf"
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/samplicate -S -c /etc/samplicator/telegraf.conf -s $SAMP_TELEGRAF_LISTEN_IP -p $SAMP_TELEGRAF_LISTEN_PORT -d 0 -f

[Install]
WantedBy=multi-user.target
