#
# /etc/systemd/system/samplicator-sflow.service
#

[Unit]
Description="Samplicator sFlow"
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/samplicate -S -c /etc/samplicator/sflow.conf -s $SAMP_SFLOW_LISTEN_IP -p $SAMP_SFLOW_LISTEN_PORT -d 0 -f

[Install]
WantedBy=multi-user.target
