#
# /etc/systemd/system/samplicator-netflow.service
#

[Unit]
Description="Samplicator Netflow"
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/samplicate -S -c /etc/samplicator/netflow.conf -s $SAMP_NETFLOW_LISTEN_IP -p $SAMP_NETFLOW_LISTEN_PORT -d 0 -f

[Install]
WantedBy=multi-user.target
