#
# /etc/systemd/system/samplicator-syslog.service
#

[Unit]
Description="Samplicator Syslog"
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/samplicate -S -c /etc/samplicator/syslog.conf -s $SAMP_SYSLOG_LISTEN_IP -p $SAMP_SYSLOG_LISTEN_PORT -d 0 -f

[Install]
WantedBy=multi-user.target
